<div class="container" style="margin-top: 220px;">

    <form class="form-signin" action="handleLogin" method="post">
        <h2 style="margin-left: 9%">欢迎登录</h2>
        <label for="inputUserNameOrPhoneNumber" class="sr-only">user name or phone number</label>
        <input type="inputUserName" type="inputPhoneNumber" id="inputUserNameOrPhoneNumber" name="user" class="form-control" placeholder="用户名/手机号" required="" autofocus="" style="width: 30%;">
        <div style="padding: 10px;"></div>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="passwd" class="form-control" placeholder="密码" required="" style="width: 30%;">
        <div class="checkbox"  align="left">
            <label>
                <input type="checkbox" value="remember-me"> 记住我
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" style="width: 30%;">注册</button>
    </form>

</div>


