<head>
    <title>Blog-个人主页</title>
</head>

<div style="margin-top: 100px">
    <div id = "article-list" class="list-group">
        <a href="#" class="list-group-item active">
            文章列表
        </a>
        {volist name="list" id="item" empty='点击 <b>添加</b> 按钮， 开始写您的第一篇博客吧:)'}
        <a href="{$item.link}" class="list-group-item">{$item.title}</a>
        {/volist}
    </div>
    <br>
    <div>
        <button onclick="location.href='/index/editor/index'">添加</button>
    </div>
</div>

